---
layout: shell
---
<!-- Main -->
<article id="main">

  <header class="special container">
    <!--<span class="icon {% if page.icon %}{{ page.icon }}{% else %}fa-leaf{% endif %}"></span>-->
    <img class="logo" src="/images/logos/Gray_Logo.png"/>
    <h2>{{ page.header | unindent | markdownify | remove: '<p>' | remove: '</p>' }}</h2>
    {{ page.description | unindent | markdownify }}
  </header>

  <!-- One -->
  {% assign content = content | strip_newlines %}
  {% if content != ""  %}
  <section class="wrapper style4 container">

    <!-- Content -->
    <div class="content">
      <section>
        {{ content }}
      </section>
    </div>

  </section>
  {% endif %}

  <!-- Two -->
  <section class="wrapper style1 container special">
    <div class="row">
      {% for section in page.row_sections %}
      <div class="4u 12u(narrower)">
        <section>
          <header>
            <h3>{{section.title | unindent | markdownify | remove: '<p>' | remove: '</p>' }}</h3>
          </header>
          {{ section.description | unindent | markdownify}}
          {% if section.cta %}
          <footer>
            <ul class="buttons">
              <li><a href="{{ section.link }}" class="button small">{{ section.cta }}</a></li>
            </ul>
          </footer>
          {% endif %}
        </section>
      </div>
      {% endfor %}

    </div>
  </section>

</article>


